Repository sapphiredev/plugins, pull requests merged in 2021-01, with the labels that each got.

#35 feat(i18next): implement context and editing
  packages/i18next/README.md
  packages/i18next/src/index.ts
  packages/i18next/src/lib/I18nextHandler.ts
  packages/i18next/src/lib/types/context.ts
  packages/i18next/src/register-discordjs.ts
  packages/i18next/src/register.ts
Labels: Priority: Low, SEM: Major, Status: Review Ready

#39 feat(api): add media parsers
  packages/api/src/index.ts
  packages/api/src/lib/structures/MediaParser.ts
  packages/api/src/lib/structures/MediaParserStore.ts
  packages/api/src/lib/structures/Route.ts
  packages/api/src/lib/structures/http/Server.ts
  packages/api/src/mediaParsers/applicationFormUrlEncoded.ts
  packages/api/src/mediaParsers/applicationJson.ts
  packages/api/src/mediaParsers/textPlain.ts
  packages/api/src/middlewares/body.ts
  packages/api/src/middlewares/headers.ts
  packages/api/src/register.ts
Labels: Meta: Feature, Meta: Refactor, SEM: Minor, Status: Review Ready

#38 refactor(i18next): docs and standardize implementation features
  packages/i18next/src/index.ts
  packages/i18next/src/lib/I18nextImplementation.ts
  packages/i18next/src/lib/index.ts
  packages/i18next/src/lib/types/client.ts
  packages/i18next/src/lib/types/context.ts
  packages/i18next/src/lib/types/implementations.ts
  packages/i18next/src/lib/types/index.ts
  packages/i18next/src/register-discordjs.ts
  packages/i18next/src/register.ts
Labels: Meta: Cleanup, Meta: Documentation, Meta: Refactor, Meta: Typings, Status: Review Ready

#46 fix(plugin-api): return null instead of throwing error
  packages/api/src/lib/structures/http/Auth.ts
Labels: Meta: BugFix, Priority: High

#48 feat(plugin-api): added Auth#{fetchData,transformers}, fixed Oauth bug
  packages/api/src/lib/structures/http/Auth.ts
  packages/api/src/routes/oauth/callback.ts
Labels: Meta: BugFix, Meta: Feature, SEM: Minor

#49 feat(plugin-api): make LoginDataTransformer accept Awaited<LoginData>
  packages/api/src/lib/structures/http/Auth.ts
Labels: Meta: Feature, SEM: Minor
