Repository sapphiredev/plugins, pull requests merged in 2021-09, with the labels that each got.

#124 fix(api): update to Discord API v9
  package.json
  packages/api/src/lib/structures/http/Auth.ts
  packages/api/src/routes/oauth/callback.ts
  packages/api/src/routes/oauth/logout.ts
  packages/logger/package.json
  yarn.lock
Labels: Meta: BugFix, Meta: Refactor, Priority: High, SEM: Patch, Type: Dependencies

#113 docs: small user guide for plugins
  packages/i18next/README.md
  packages/i18next/src/lib/functions.ts
  packages/logger/README.md
Labels: Meta: Documentation, SEM: N/A

#125 feat(i18next): bump i18next dependency to v20
  package.json
  packages/i18next/package.json
  packages/i18next/src/lib/InternationalizationHandler.ts
  yarn.lock
Labels: Meta: Dependencies, Meta: Feature, Priority: High, SEM: Major
