Repository sapphiredev/plugins, pull requests merged in 2021-12, with the labels that each got.

#183 build: set up turbo
  .github/workflows/continuous-integration.yml
  .gitignore
  lerna.json
  package.json
  packages/editable-commands/package.json
  packages/i18next/tests/augments.d.ts
  packages/subcommands/package.json
  yarn.lock
Labels: Meta: Dependencies, Priority: Medium, SEM: N/A, Type: Caching, Type: Dependencies, Type: Maintenance

#193 fix(routes): ensure that unmatched routes return 404 instead of 200
  packages/api/src/lib/structures/RouteStore.ts
  packages/api/src/middlewares/headers.ts
Labels: Meta: BugFix, Priority: High, SEM: Patch

#148 feat: Scheduled tasks plugin
  .npm-deprecaterc.yml
  packages/scheduled-tasks/CHANGELOG.md
  packages/scheduled-tasks/README.md
  packages/scheduled-tasks/jest.config.ts
  packages/scheduled-tasks/package.json
  packages/scheduled-tasks/register-redis.d.ts
  packages/scheduled-tasks/register-redis.js
  packages/scheduled-tasks/register-redis.mjs
  packages/scheduled-tasks/register-sqs.d.ts
  packages/scheduled-tasks/register-sqs.js
  packages/scheduled-tasks/register-sqs.mjs
  packages/scheduled-tasks/src/index.ts
  packages/scheduled-tasks/src/lib/ScheduledTaskHandler.ts
  packages/scheduled-tasks/src/lib/strategies/ScheduledTaskRedisStrategy.ts
  packages/scheduled-tasks/src/lib/strategies/ScheduledTaskSQSStrategy.ts
  packages/scheduled-tasks/src/lib/structures/ScheduledTask.ts
  packages/scheduled-tasks/src/lib/structures/ScheduledTaskStore.ts
  packages/scheduled-tasks/src/lib/types/ScheduledTaskBaseStrategy.ts
  packages/scheduled-tasks/src/lib/types/ScheduledTaskCreateRepeatedTask.ts
  packages/scheduled-tasks/src/lib/types/ScheduledTasksOptions.ts
  packages/scheduled-tasks/src/lib/types/ScheduledTasksTaskOptions.ts
  packages/scheduled-tasks/src/lib/types/index.ts
  packages/scheduled-tasks/src/register-redis.ts
  packages/scheduled-tasks/src/register-sqs.ts
  packages/scheduled-tasks/src/register.ts
  packages/scheduled-tasks/src/tsconfig.json
  packages/scheduled-tasks/tsconfig.eslint.json
  packages/scheduled-tasks/tsconfig.json
  yarn.lock
Labels: Meta: Feature, Priority: Medium, SEM: Major, Type: Plugin

#200 feat(scheduled-tasks): emit various events in the process of handling scheduled tasks
  packages/scheduled-tasks/src/lib/ScheduledTaskHandler.ts
  packages/scheduled-tasks/src/lib/types/ScheduledTaskEvents.ts
Labels: Meta: Feature, Priority: Medium, SEM: Minor

#192 feat: add pattern commands plugin
  .github/CODEOWNERS
  .npm-deprecaterc.yml
  packages/pattern-commands/README.md
  packages/pattern-commands/package.json
  packages/pattern-commands/register.d.ts
  packages/pattern-commands/register.js
  packages/pattern-commands/register.mjs
  packages/pattern-commands/src/index.ts
  packages/pattern-commands/src/lib/structures/PaternCommandStore.ts
  packages/pattern-commands/src/lib/structures/PatternCommand.ts
  packages/pattern-commands/src/lib/utils/PaternCommandEvents.ts
  packages/pattern-commands/src/lib/utils/PatternCommandInterfaces.ts
  packages/pattern-commands/src/listeners/PluginCommandAccepted.ts
  packages/pattern-commands/src/listeners/PluginMessageParse.ts
  packages/pattern-commands/src/listeners/PluginPreCommandRun.ts
  packages/pattern-commands/src/listeners/index.ts
  packages/pattern-commands/src/register.ts
  packages/pattern-commands/src/tsconfig.json
  packages/pattern-commands/tsconfig.eslint.json
  packages/pattern-commands/tsconfig.json
  yarn.lock
Labels: Meta: Feature, Priority: Medium, SEM: Major, Status: Review Ready, Type: Plugin
