Repository sapphiredev/plugins, pull requests merged in 2021-08, with the labels that each got.

#103 fix(plugin-i18next): re-added support for guild target
  packages/i18next/src/lib/functions.ts
Labels: Meta: BugFix, Meta: Feature, SEM: Minor

#102 fix(plugin-api): resolved augmentation bugs
  packages/api/src/index.ts
  packages/api/src/lib/structures/Augmentations.d.ts
  packages/api/src/lib/structures/http/Server.ts
Labels: Meta: BugFix, SEM: Patch

#107 fix(i18next): change how `fetchLanguage` is implemented
  package.json
  packages/i18next/src/lib/InternationalizationHandler.ts
  packages/i18next/src/lib/types.ts
  packages/i18next/src/register.ts
  yarn.lock
Labels: Meta: BugFix, Meta: Refactor, Priority: High, SEM: Major
