Repository sapphiredev/plugins, pull requests merged in 2021-02, with the labels that each got.

#54 feat(i18next): respect alternative default handling
  packages/i18next/src/lib/I18nextHandler.ts
Labels: Priority: Medium, SEM: Minor, Status: Needs Testing, Type: Enhancement

#60 fix(plugin-api): `expires_in` is in seconds, not milliseconds
  packages/api/src/routes/oauth/callback.ts
Labels: Meta: BugFix, Priority: Critical, SEM: Patch

#62 fix(plugin-api): automatically remove cookie on invalid token
  packages/api/src/lib/structures/api/CookieStore.ts
  packages/api/src/middlewares/auth.ts
  packages/api/src/routes/oauth/logout.ts
Labels: Meta: BugFix, SEM: Minor
