Repository sapphiredev/plugins, pull requests merged in 2022-08, with the labels that each got.

#335 refactor(i18next)!: remove `sendLocalized`, `replyLocalized`, and `editLocalized`
  packages/i18next/src/lib/functions.ts
  packages/i18next/src/lib/types.ts
Labels: packages:i18next, priority:high, refactor, semver:major

#337 feat(subcommands): lowercase subcommands and dashless aliases
  package.json
  packages/i18next/package.json
  packages/scheduled-tasks/package.json
  packages/subcommands/package.json
  packages/subcommands/src/lib/Subcommand.ts
  packages/subcommands/src/lib/SubcommandMappings.ts
  yarn.lock
Labels: feature, semver:minor

#339 fix: various subcommand related fixes and 2 features
  packages/subcommands/src/lib/Subcommand.ts
  packages/subcommands/src/lib/types/Events.ts
Labels: error handling, feature, needs rebase & merge, packages:subcommands, priority:critical, regression, semver:minor

#340 fix: fixed arg parsing
  packages/subcommands/src/lib/Subcommand.ts
Labels: packages:subcommands, priority:critical, semver:patch
