Repository sapphiredev/plugins, pull requests merged in 2023-08, with the labels that each got.

#465 feat(subcommands): implement per-subcommand preconditions
  packages/subcommands/src/lib/Subcommand.ts
  packages/subcommands/src/lib/SubcommandMappings.ts
  packages/subcommands/src/lib/types/Events.ts
  packages/subcommands/src/tsconfig.json
Labels: packages:subcommands, semver:minor

#469 refactor(*): cleanup plugin registry files
  .eslintignore
  packages/api/package.json
  packages/api/register.d.ts
  packages/api/register.js
  packages/api/register.mjs
  packages/editable-commands/package.json
  packages/editable-commands/register.d.ts
  packages/editable-commands/register.js
  packages/editable-commands/register.mjs
  packages/hmr/package.json
  packages/hmr/register.d.ts
  packages/hmr/register.js
  packages/hmr/register.mjs
  packages/i18next/package.json
  packages/i18next/register.d.ts
  packages/i18next/register.js
  packages/i18next/register.mjs
  packages/logger/package.json
  packages/logger/register.d.ts
  packages/logger/register.js
  packages/logger/register.mjs
  packages/pattern-commands/package.json
  packages/pattern-commands/register.d.ts
  packages/pattern-commands/register.js
  packages/pattern-commands/register.mjs
  packages/scheduled-tasks/package.json
  packages/scheduled-tasks/register.d.ts
  packages/scheduled-tasks/register.js
  packages/scheduled-tasks/register.mjs
  packages/subcommands/package.json
  packages/subcommands/register.d.ts
  packages/subcommands/register.js
  packages/subcommands/register.mjs
  packages/utilities-store/package.json
  packages/utilities-store/register.d.ts
  packages/utilities-store/register.js
  packages/utilities-store/register.mjs
  tsconfig.eslint.json
Labels: packages:api, packages:editable-commands, packages:hmr, packages:i18next, packages:logger, packages:pattern-commands, packages:scheduled-tasks, packages:subcommands, refactor, packages:utilities-store

#470 feat(subcommands): add runIn to match framework
  packages/subcommands/src/lib/Subcommand.ts
  packages/subcommands/src/lib/SubcommandMappings.ts
Labels: packages:subcommands, semver:minor

#473 feat(i18next): support ModalSubmitInteraction
  packages/i18next/src/lib/functions.ts
  packages/i18next/src/lib/types.ts
Labels: packages:i18next, semver:patch
