Repository sapphiredev/plugins, pull requests merged in 2024-08, with the labels that each got.

#601 refactor: changed no match errors to emit on a subcommand listener instead of the root MessageCommandError / ChatInputCommandError
  packages/subcommands/src/lib/Subcommand.ts
  packages/subcommands/src/lib/types/Events.ts
  packages/subcommands/src/listeners/PluginChatInputSubcommandNoMatch.ts
  packages/subcommands/src/listeners/PluginMessageSubcommandNoMatch.ts
  packages/subcommands/src/listeners/_load.ts
Labels: packages:subcommands, semver:major

#603 refactor: switch `MimeTypes` to `MimeType` and use IANA media types
  .github/workflows/auto-updater.yml
  packages/api/package.json
  packages/api/scripts/sync-mime-types.mts
  packages/api/src/index.ts
  packages/api/src/lib/structures/MediaParser.ts
  packages/api/src/lib/structures/Route.ts
  packages/api/src/lib/structures/api/ApiResponse.ts
  packages/api/src/lib/structures/http/Server.ts
  packages/api/src/lib/utils/MimeType.ts
  packages/api/src/lib/utils/MimeTypes.ts
  packages/api/src/mediaParsers/applicationFormUrlEncoded.ts
  packages/api/src/mediaParsers/applicationJson.ts
  packages/api/src/mediaParsers/textPlain.ts
  packages/api/tsconfig.eslint.json
Labels: packages:api, refactor, semver:major

#615 feat(router): add FS group syntax
  packages/api/src/lib/structures/Route.ts
  packages/api/src/lib/structures/router/RouterRoot.ts
Labels: feature, packages:api, semver:minor
